#register {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('https://img.freepik.com/premium-photo/beautiful-sky-background-sunset-sunrise-sky-with-light-clouds-real-sun_638259-822.jpg?w=2000');
  background-size: cover;
  background-position: center center;
}

.register-container,
.register-background,
.register-form {
  min-height: 100vh;
}
.register-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.register-background,
.register-form {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.register-background {
  display: none;
}

.register-form {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 42% 58% 36% 64% / 60% 37% 63% 40%; */
}

.register-form-title {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 35px;
}

.register-form-container {
  width: 70%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form .form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.register-form .form-input label {
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.register-form .form-input input {
  width: 100%;
  height: 44px;
  background: #ffffff;
  border: none;
  border-radius: 25px;
  margin: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 2px solid #ffffff;
}

.register-form .form-input input:focus {
  border: 2px solid #000;
  box-shadow: none;
}

.register-form .form-input span {
  font-size: 12px;
}

.register-form-button {
  width: 100%;
  height: 44px;
  color: #fff;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  border: none;
  border: 2px solid #000;
  margin-top: 10px;
}

.register-form-button .btn-check:checked + .btn,
.register-form-button .btn.active,
.register-form-button .btn.show,
.register-form-button .btn:first-child:active,
:not(.btn-check) + .btn:active,
.register-form-button:hover,
.register-form-button:focus-visible {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #000;
}

.form-link-login,
.form-link-login a {
  margin-top: 20px;
  color: #000;
  font-size: 14px;
}

@media (min-width: 768px) {
  .register-background,
  .register-form {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .register-form {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .register-background {
    display: block;
  }
}

@media (min-width: 1440px) {
  .register-form-container {
    max-width: 550px;
  }
}
