/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Appct {
  height: 100vh;
  color: #000;
}

.chung {
  display: flex;
  justify-content: center;
}

.chung li {
  display: inline-block;
}

#dn {
  font-size: 14px;
  line-height: 46px;
}

.slider {
  text-align: right;
  margin-top: 46px;
  margin-right: 70rem;
}

a {
  color: blue;
}

.form {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: 40rem;
}

.img {
  border-radius: 24px;
  width: 100%;
}

.Appct .input {
  width: 100%;
}

.Appct .btn:hover {
  background: #000;
}

.btntv {
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
}

label {
  font-weight: bold;
  color: #000;
} */
