* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Appct {
  height: 100vh;
  color: #000;
}

.Appct .header {
  height: 46px;
  background-color: rgb(105, 100, 100);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.chung {
  display: flex;
  justify-content: center;
}

.chung li {
  display: inline-block;
}

.logoo {
  /* margin-right: 1350px; */
  margin-left: 10px;
  margin-right: 80rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

#dn {
  font-size: 14px;
  line-height: 46px;
}

.slider {
  text-align: right;
  margin-top: 46px;
  margin-right: 70rem;
}

a {
  color: blue;
}

.form {
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  background-color: #fff;
  /* padding: 0px 60px; */
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  /* margin-top: 10px; */
  width: 40rem;
}

.img {
  /* margin-top: 24px; */
  border-radius: 24px;
  width: 100%;
}

.Appct .input {
  width: 100%;
}

.Appct .btn:hover {
  background: #000;
}

.labell1 {
  /* margin-left: 480px; */
  /* display: inline-block; */
}

.labell2 {
  /* justify-content: space-evenly; */
  /* margin-left: 500px; */
}

.btntv {
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
}

label {
  font-weight: bold;
  color: #000;
}
